/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Variables */
:root {
  --clr: white;
  --bg-clr-body: #34568b;
  --bg-clr-board: black;
  --alive-clr: white;
  --alive-hover-clr: #cd212a;
  --bdr-color: darkGrey;
  --cell-size: 10px;
}

/* Body */
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  color: var(--clr);
  background-color: var(--bg-clr-body);
  text-align: center;
}

/* Table */
table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
  background-color: var(--bg-clr-board);
}

td {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--bdr-color);
}

/* Alive and Dead */
.alive {
  background-color: var(--alive-clr);
}

.alive:hover {
  background-color: var(--alive-hover-clr);
}

.dead:hover {
  background-color: var(--bdr-color);
}

/* Button */
button {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 18px;
  font-family: inherit;
  color: var(--clr);
  background-color: var(--bdr-color);
  cursor: pointer;
}

button:hover {
  color: var(--alive-hover-clr);
}

/* Flex Row */
.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* Controls */
.upperControls, .lowerControls {
  margin: auto;
}

.upperControls {
  width: 425px;
}

.lowerControls {
  width: 425px;
}
